.scan-results-wrapper{
    height:calc(100vh - 110px);
    height:-moz-calc(100vh - 110px);
    height:-webkit-calc(100vh - 110px);

    width: 80%;
    margin:0 auto;
}
.mat-expansion-panel{
    margin-bottom: 15px;
}
.mat-expansion-panel-header-title{
    font-weight: 600;
}
.scan-results-title{
    margin-bottom: 25px;
}
.results-table tr, .results-table th{
    border-bottom: 0px;
}
.results-table tr td, .results-table th{
    border-bottom: 1px solid rgba(0,0,0,0.12);
}