<header>
  <div class="navbar-fixed">
      <nav class="indigo darken-1">
          <div class="nav-wrapper">
          <a href="#!" class="brand-logo proj-title">WDGIS</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <div class="ms-logo">
                <img class="brand-logo center" src="assets/MS logo.png"/>
          </div>
          <ul class="right hide-on-med-and-down">
             
              <li  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a href="" [routerLink]='["/"]'>Qualys Scan</a></li>
              <li  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a href="" [routerLink]='["/results"]'>Results</a></li>
              <li  *ngIf="adminData" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a href="" [routerLink]='["/admin"]'>Admin</a></li>
              <li  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a href="">About</a></li>
              <li  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a class="waves-effect waves-light btn nav-user-name"><i class="material-icons left">account_circle</i>{{userNameData}}</a></li>
            </ul>
          </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a href="" [routerLink]='["/"]'>Qualys Scan</a></li>
              <li  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a href="" [routerLink]='["/results"]'>Results</a></li>
              <li  *ngIf="adminData" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a href="" [routerLink]='["/admin"]'>Admin</a></li>
              <li  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a href="">About</a></li>
              <li  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><a class="waves-effect waves-light btn nav-user-name"><i class="material-icons left">account_circle</i>{{userNameData}}</a></li>
      </ul>
    </div>
</header>