<section>
  <div class="body-wrapper">
    <div class="form-container col s12 m7">
      <form #scanForm="ngForm" (ngSubmit)="submitScan(scanForm)">
        <p>{{ipAddressControl.value == ""}}</p>
        <h4 class="header">On-Demand Qualys Scanning</h4>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <div class="scan-type-content">
                <blockquote>Environment</blockquote>
                <label for="{{environment}}" *ngFor="let environment of environments">
                  <input id="{{environment}}" [(ngModel)]="scanEnv" value="{{environment}}" class="with-gap" name="scanEnv" type="radio" required/>
                  <span>{{environment}}</span>
                </label>
              </div>
              <div class="ip-content">
                <blockquote>Please Input IP Address / File upload</blockquote>
                <div class="row input-field-row" [class.error-field]="ipAddressControl.invalid && ipAddressControl.touched">
                  <div class="input-field col s12 m9">
                    <input id="ip_address" name="ipAddress" [(ngModel)]="ipAddress" #ipAddressControl="ngModel" type="text" class="validate" [required]="ipAddressControl.value === '' && inputFileContorl.value === '' ">
                    <label for="ip_address">IP Address</label>
                  </div>
                  <div class="col s12 error-label" *ngIf="ipAddressControl.invalid && ipAddressControl.touched">
                    IP Address is required
                  </div>
                </div>
                <p>OR</p>
                <div class="row">
                  <div class="file-field input-field col s9">
                    <div class="row">
                      <div class="file-path-wrapper col s10">
                        <input   class="file-path validate" type="text" placeholder="Upload one or more files">
                      </div>
                      <div class="btn col s2">
                        <span>
                          <i class="large material-icons">file_upload</i>
                        </span>
                        <input name="uploadedFile" [(ngModel)]="uploadedFile" type="file" #inputFileContorl="ngModel" multiple [required]="ipAddressControl.value === '' && inputFileContorl.value === ''">
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-action">
              <button type="submit" class="waves-effect waves-light btn btn-medium" [disabled]="scanForm.invalid">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Scan message -->
  <div *ngIf="formSubmittedFlag" class="center-align scan-triger-msg">
      <button _ngcontent-c3="" class="waves-effect waves-light btn btn-medium" type="submit">Your Scan is Triggered</button>
  </div>

</section>