<section class="wdgis-wrapper" style="width:100%;">
  <!-- -->
  <div class="admin-env-selection">
      <div class="">
        <div class="card-content">
          <div class="admin-scan-type-content">
            <label for="{{environment}}" *ngFor="let environment of environments">
              <input id="{{environment}}" value="{{environment}}" class="with-gap" name="scanEnv" type="checkbox"/>
              <span>{{environment}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row admin-scan-count">
          <div class="col s4">
              <div class="card-content cyan center-align white-text">
                  <h5 style="margin-top:0px;padding-top:10px;">
                    <i class="large material-icons group-icon">group</i>
                    <span style="position: relative;left:9px;top:-9px;">Total Scans</span>
                  </h5>
                  <h2>
                    1024
                  </h2>
              </div>
          </div>
          <div class="col s8 cyan center-align white-text">
              <div class="card-content">
                  <h5 style="margin-top:0px;padding-top:23px;">
                   XBOX
                  </h5>
                  <h2>
                    580
                  </h2>
              </div>

              <div class="card-content">
                  <h5 style="margin-top:0px;padding-top:23px;">
                   HVA
                  </h5>
                  <h2>
                    400
                  </h2>
              </div>
          </div>
      </div>
    </div>
  <!-- -->
  <div class="row">
    <div class="col s12 top-scan-card">
        <div class="card">
            <div class="card-content top-users-list-title blue-grey darken-1 center-align white-text">
                <h5>Top Users</h5>
            </div>
          </div>
          <div class="row">
              <div class="col s2">
                  <div class="card" >
                      <div class="card-content red accent-2 center-align white-text">
                        <div class="top-users-list" >
                          <h5>XBOX</h5>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="col s2" *ngFor="let user of topUsers">
                  <div class="card" >
                      <div class="card-content white accent-2 center-align black-text">
                        <div class="top-users-list" >
                          <h5>
                           <!-- <i class="large material-icons top-user">assignment_ind</i> -->
                            {{user.name}}
                          </h5>
                          <h5>{{user.scanCount}}</h5>
                        </div>
                      </div>
                    </div>
              </div>
          </div>


          <div class="row">
              <div class="col s2">
                  <div class="card" >
                      <div class="card-content red accent-2 center-align white-text">
                        <div class="top-users-list" >
                          <h5>HVA</h5>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="col s2" *ngFor="let user of topUsers">
                  <div class="card" >
                      <div class="card-content white accent-2 center-align black-text">
                        <div class="top-users-list" >
                          <h5>
                           <!-- <i class="large material-icons top-user">assignment_ind</i> -->
                            {{user.name}}
                          </h5>
                          <h5>{{user.scanCount}}</h5>
                        </div>
                      </div>
                    </div>
              </div>
          </div>

    </div>
  </div>
</section>