.wdgis-wrapper >.row{
    max-width: 90%;
    margin:0 auto;
}
.wdgis-wrapper >.row .m6{
    padding: 50px 25px;
}
i.large{
    font-size: 2.5rem; 
}
.wdgis-wrapper i.group-icon{
    background-color: #fff !important;
    color:#00bcd4 !important;
    border-radius: 50%;
}
.total-scan-card .admin-total-scan{
    background-image: url(/assets/bar_chart.png); 
}
.admin-total-scan{
    background-color: #fff;
    padding: 10px 50px;
    background-size:auto 60px; 
    height: 65px;
    margin: 10px 30px;
}
.card span{
    position: relative;
    top:-10px;
    left:10px;
}
.card h2{
    margin:1rem;
}
.top-users-list{
    display: flex;
    justify-content: space-between;
}
.top-scan-card h5{
    margin: 0px;
    font-size: 1.25rem;
}
.top-users-list-title h5{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
}
.top-users-list i.large{
    font-size: 1.5rem;
}
.top-users-list span{
    top:-6px;
}
.red.accent-2, .white.accent-2, .top-users-list-title{
    padding: 15px;
}

.admin-env-selection{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.admin-scan-type-content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
}
.card-content{
    border-bottom:1px solid #ccc;
}
.admin-scan-type-content [type="checkbox"]+span {
    padding-left: 25px;
    width: 15%;
    text-align: left;
}
.admin-scan-count{
    padding:20px;
}
.admin-scan-count  .col{
    padding-right: 20px;
    padding-left: 0px;
}
.admin-scan-count .col.s8  .card-content{
   display: inline-block;
   padding: 0 5%;
}