.wdgis-wrapper{
    min-height:calc(100vh - 100px);
    min-height:-moz-calc(100vh - 100px);
    min-height:-webkit-calc(100vh - 100px);
    width: 80%;
    margin:0 auto;
}
.sidenav-overlay{
    z-index:950 !important;
}
 